body{
    font-family: 'Poppins', sans-serif;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 80%;
    padding-left: 10%;
}
h1{
    font-size: 50px;
}
.color-name{
    color: orange;
}
.link-button{
    text-decoration: none;
    /* background-color: orange; */
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}